{% extends "../common/base.html" %}

{% block content %}

    <div id="heading" class="main lowercase">
        <h1>grab-it</h1>
    </div>

    <div id="content" class="main text lowercase">
        <div id="left">
            <h3>What is grab-it?</h3>
            <p>
                grab-it is a
                <a href="http://en.wikipedia.org/wiki/Social_bookmarking">social bookmarking</a>
                service.  It allows you to save, share, and find other cool web
                page bookmarks (or gropes) all in one place.  It has nice
                features like auto-tagging and relevance search.
            </p>

            <h3>Have your say&hellip;</h3>
            <p>
                &hellip;we&rsquo;d love to hear from you.  If you&rsquo;ve
                discovered a bug or dreamt up a feature,
                <a href="http://code.google.com/p/grab-it/issues/list">create an issue</a>.
                If you just enjoy grab-it,
                <a href="http://appgallery.appspot.com/about_app?app_id=agphcHBnYWxsZXJ5chQLEgxBcHBsaWNhdGlvbnMYnq4GDA">write a comment</a>
                and rate grab-it between 0 and 5 stars.
            </p>
        </div>

        <div id="right" class="lowercase">
        </div>
    </div>

{% endblock %}
