{% extends "../common/base.html" %}

{% block content %}

    <div id="heading" class="main lowercase">
        <h1>{{ title }}</h1>
    </div>

    <div id="content" class="main text lowercase">
        <div id="left">
            <p>
                We&rsquo;re sorry, but our skilled surgeons are currently
                performing a sensitive operation on imi-imi&rsquo;s datastore.
                <a href="http://twitter.com/code_a_la_mode">Read updates</a> on
                imi-imi&rsquo;s health.  Please keep imi-imi in your hearts and
                minds and
                <a href="javascript:location.reload(true);">try again</a> in a
                few minutes.
            </p>
        </div>

        <div id="right" class="lowercase">
        </div>
    </div>

{% endblock %}
