<h1>Bookmarks</h1>

<h2>
    Groped by
    {% if target_user %}
        {% if not friends_view %}
            <a href="/users/{{ target_user.email }}">{{ target_user.nickname }}</a>,
        {% else %}
            <a href="/users/{{ target_user.email }}">{{ target_user.nickname }}</a>&rsquo;s
            <a href="/friends/{{ target_user.email }}">Friends</a>,
        {% endif %}
    {% else %}
        Everyone,
    {% endif %}

    Related to
    {% if target_words %}
        {% for target_word in target_words %}
            <a href="/search/{{ target_word }}">{{ target_word }}</a>
        {% endfor %}
    {% else %}
        Everything
    {% endif %}
</h2>
